VITE_SEPOLIA_TESTNET_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com/
VITE_SEPOLIA_TESTNET_CHAIN_ID=11155111
VITE_SEPOLIA_TESTNET_CHAIN_HEX=0xaa36a7
VITE_SEPOLIA_TESTNET_CHAIN_NAME=Sepolia Testnet
VITE_SEPOLIA_TESTNET_BLOCK_EXPLORER_URL=https://sepolia.etherscan.io
VITE_MARKETPLACE_ADDRESS=0x3e8480c953bF50D97A404993eFAF9ea6084cC719
VITE_XSGD_ADDRESS=0x3e8480c953bF50D97A404993eFAF9ea6084cC719
